.ak-btn.style-2 {
  padding: 18px 36px;
  /*   background-color: var(--common-color-black); */
  color: $black;
  outline: none;
  border: none;
  transition: all 0.2s;
  text-transform: uppercase;
  &:hover {
    background-color: $yellow;
  }
}

.ak-btn.style-5 {
  padding: 18px 36px;
  @media screen and (max-width: 767px) {
    padding: 10px 20px;
    font-size: 16px;
  }
  color: $black;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  transition: all 0.35s;
  position: relative;
  z-index: 11;
  border-color: transparent;
  button {
    background: transparent;
    border: none;
    text-transform: uppercase;
  }
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    content: "";
  }
  &::before {
    width: 100%;
    left: 0;
    border-radius: 0px;
    background-color: $white;
    z-index: -1;
  }
  &.color-yellow-bg::before {
    width: 100%;
    left: 0;
    border-radius: 0px;
    background-color: $yellow;
    z-index: -1;
  }
  &::after {
    width: 0;
    left: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  &:hover {
    color: $white;
    &::before {
      transform: scale(0, 1);
    }
    &::after {
      width: 100%;
      border-color: $yellow;
      transition-delay: 0.5s;
    }
  }
}